*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'century Gothic', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2f363e;
}

#relogio {
    display: flex;
    gap: 40px;
    background: #2b2b2b;
    padding: 20px 20px 40px;
    user-select: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px purple;
}

.item-circulo {
    position: relative;
    list-style: none;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.item-circulo svg {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 100%;
    height: 100%;
    /*background: red;*/
    transform: rotate(270deg);
    
}

#horas, #minutos, #segundos {
        
        position: absolute;
        padding-top: 10px;
        font-weight: 500;
        font-size:1.5em;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
}

#horas span, #minutos span, #segundos span {
    display: block;
    margin-top: 10px;
    font-size: .65em;
    letter-spacing: .1em;

}

#relogio .ap {
    list-style: none;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    transform: translatex(-20px);
}

.item-circulo svg circle {
    fill: transparent;
    stroke-width: 4px;
    stroke: var(--clr);
    stroke-dasharray: 440;
    transform: translate(2px, 2px);
}

.item-circulo svg circle:nth-of-type(1) {
    stroke: #040305;
}

.item-circulo .pontos {
    position: absolute;
    top: 3px;
    display: flex;
    justify-content: center;
    z-index: 10;
    width: 100%;
    height: 103%;
    
}

.item-circulo .pontos::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
}